// you can custom css vars here

:root {
    --yun-sidebar-bg-color: var(--va-c-bg-light);
    --yun-sidebar-bg-img: url("https://cdn.carmendei.cn/myblog/resource/img/venti2.jpg");
}


// dark

html.dark {
    --yun-bg-img: none;
    --yun-sidebar-bg-img: url("https://cdn.carmendei.cn/myblog/resource/img/xiaoven2.jpg");
}