// you can custom css here
body {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Normal Select.cur"), auto;
}

a {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Busy 2.cur"), auto;
}

a:hover {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Busy 2.cur"), auto;
}

.hty-icon-button {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Busy 2.cur"), pointer;
}

.cursor-pointer {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Busy 2.cur"), pointer !important;
}

.yun-icon-btn {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Busy 2.cur"), pointer !important;
}

button{
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Busy 2.cur"), pointer !important;
}

p{
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Text Select Draw 3.cur"), auto !important;
}
textarea{
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Text Select Draw 3.cur"), auto !important;
}

input {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Text Select Draw 3.cur"), auto !important;
}
code {
    cursor: url("https://cdn.carmendei.cn/myblog/resource/cur/Venti Text Select Draw 3.cur"), auto !important;

}
.post-card {
    opacity: 0.8;
}

.post-card-image {
    opacity: 0.8;
}

.post-nav-item {
    background-color: rgba(240, 255, 255, 0.5);
}


html.dark {
    .post-card {
        opacity: 1;
    }

    .post-card-image {
        opacity: 1;
    }

    .post-tag {
        color: #fff;
    }

    .post-tag:hover {
        color: var(--va-c-primary);
    }

    .post-nav-item {
        background-color: transparent;
    }
}
